- const navbar = 'absolute z-10 flex justify-between w-full'
- const links = 'flex gap-16'

nav(class=navbar)
  a(href="/") Trendiva 

  ul(class=links)
    li 
      a(href="/about") About 

    li 
      a(href="/collections") Collections   