extends ../base.pug
include ../partials/vertical-titles

block variables
  - const template = 'home'

block content 
  #home 
    #home__wrapper
      +vertical-titles(collections)

      a(href='/')
        span=home.data.button
